In [3]:
df = pd.read_csv('../../data/raw/spare_the_air_raw.csv')

In [5]:
def get_type(s):
    return s.dtype

df.apply(get_type)

Year           int64
Weekdays      object
Weekends      object
Date          object
Total Days    object
dtype: object

In [6]:
df_2017_2019 = df[(df['Year'].astype(int) > 2016) & (df['Year'].astype(int) < 2020)]
df_2017_2019 = df_2017_2019[df_2017_2019['Date'] != '0']

df_2017_2019 = pd.concat([df_2017_2019, df_2017_2019['Date'].str.split(',', expand=True)], axis=1)
df_2017_2019 = df_2017_2019.rename({0:'weekday', 1:'md'}, axis='columns')

In [7]:
df_2017_2019['Year'] = df_2017_2019['Year'].astype(str)
df_2017_2019['md'] = df_2017_2019['md'].str.strip()

In [8]:
df_2017_2019['mdy'] = df_2017_2019['md'].str.cat(df_2017_2019['Year'], sep=',')
#df_2017_2019["mdy"] = df_2017_2019[['md', "Year"]].apply("_".join, axis=1)

In [10]:
df_2017_2019['date_clean'] = pd.to_datetime(df_2017_2019['mdy'], format='%B %d,%Y')

In [16]:
df_2017_2019['sta'] = 1
df_2017_2019[['date_clean', 'sta']]

    date_clean  sta
87  2019-08-13    1
88  2019-06-09    1
89  2019-06-10    1
90  2019-06-11    1
91  2019-06-12    1
..         ...  ...
151 2017-10-17    1
152 2017-10-18    1
153 2017-10-19    1
154 2017-10-26    1
155 2017-10-27    1

[69 rows x 2 columns]